.home-page-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.home-page-container.blur {
  filter: blur(1.4px);
  pointer-events: none;
  user-select: none;
  opacity: 0.7;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 12px;
  z-index: 999;
}